.header {
  color: white;
}
.navbarupper {
  display: flex;
  align-items: center;
  height: 55px;
  background-color: #0f1111;
}
.headerimagelogo {
  height: 50px;
  padding: 5px;
  width: 70px;
}
h1 {
  text-align: center;
  color: white;
  font-size: medium;
  height: 50px;
  width: 100px;
}
h2 {
  color: white;
  font-size: medium;
  height: 50px;
  width: 70px;
}
.spanheaderitem {
  font-size: 15px;
  font-weight: bolder;
}
.navbarlower1 {
  display: flex; 
  
  height: 40px;
  background-color: rgb(12, 46, 52);
}
.selectlanguage {
  display: flex;

}
.headinglocation {
  width: 100px;
  align-content: center;  
}
.headersearch {
  align-items: center;
  width: 900px;
}
.headerinput {
  width: 700px;
  align-self: center;
}
.headerlist {
  padding: 10px;
  margin: 10px;
}
.h4{
  text-align:center;
  
}
.navbarlowerdiv{
  font-size: medium;
  margin: 10px;
}
.carouselButton{
height: 300px;
width: 70px;
}